<tr>

	<td>
		<span class="search-list">
			

			<form action="/info/<%= x["name"] %>" method="POST">
				<div style="display:none">
					<input type="hidden" name="lng" value="<%= x["lng"] %>">
					<input type="hidden" name="lat" value="<%= x["lat"] %>">
					<input type="hidden" name="geonameId" value="<%= x["geonameId"] %>">
					<input type="hidden" name="population" value="<%= x["population"] %>">
					<input type="hidden" name="countryName" value="<%= x["countryName"] %>">
					<input type="hidden" name="fclName" value="<%= x["fclName"] %>">
				</div>
				<button class="search-name"type="submit"><%= x["name"]%></button>
			</form>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["fclName"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			<a href="/find/<%= x["countryName"]%>">
				<%= x["countryName"] %>
			</a>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["lat"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["lng"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["population"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			
			<form action="/type_code_search/<%= x["fcode"] %>" method="POST">
				<div style="display:none">
					<input type="hidden" name="lat" value="<%= x["lat"] %>">
					<input type="hidden" name="lng" value="<%= x["lng"] %>">
				</div>
				<button class="search-name" type="submit"><%=x["fcode"]%></button>
			</form>
		</span>
	</td>

	<td>
		<span class="search-list">
			<form action="/places_around/<%=x["name"]%>" method="POST">
				<div style="display:none">
					<input type="hidden" name="geonameId" value="<%= x["geonameId"] %>">
				</div>
				<button class="search-name" type="submit"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></button>
			</form>
		</span>
	</td>

	<td>
		<span class="search-list">
			<form action='/places_in/<%= x["name"] %>' method="POST">
				<div style="display:none">
					<input type="hidden" name="geonameId" value="<%= x["geonameId"] %>">
				</div>
				<button class="search-name" type="submit"> <span class="glyphicon glyphicon-resize-small"></span></button>
			</form>
		</span>
	</td>


</tr>