<tr>

	<td>
		<span class="search-list">
			<a href="/info?geonameId=<%= x["geonameId"] %>"><%= x["name"]%></a>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["fclName"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			<a href="/search?name=<%= x["countryName"]%>">
				<%= x["countryName"] %>
			</a>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["lat"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["lng"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
			<%= x["population"] %>
		</span>
	</td>

	<td>
		<span class="search-list">
				<a href="/type_code_search?fcode=<%=x["fcode"]%>&lat=<%= x["lat"] %>&lng=<%= x["lng"] %>">
					<%=x["fcode"]%>
				</a>
			</form>
		</span>
	</td>

	<td>
		<span class="search-list">
			<a href="/places_around?name=<%=x["name"]%>&geonameId=<%= x["geonameId"] %>">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
		</span>
	</td>

	<td>
		<span class="search-list">
			<a href="/places_in?name=<%= x["name"] %>&geonameId=<%= x["geonameId"] %>">
				<span class="glyphicon glyphicon-resize-small"></span>
			</a>
		</span>
	</td>


</tr>