<h1 class="text-center"><%= @info["name"] %></h1>
<br/>
<script>
	function initialize() {
		var mapCanvas = document.getElementById('map-canvas');
		var mapOptions = {
			center: new google.maps.LatLng(<%=@info["lat"]%>,<%=@info["lng"]%>),
			zoom: 7,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(mapCanvas, mapOptions)
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" class="container"></div>
<br/>


<table class="table">
	<tr>
		<td>Country</td>
		<td><%=@info["countryName"]%></td>
	</tr>

	<tr>
		<td>Population</td>
		<td><%=@info["population"]%></td>
	</tr>
	<tr>
		<td>GeonameId</td>
		<td><%=@info["geonameId"]%></td>
	</tr>

	<tr>
		<td>Type</td>
		<td><%=@info["fclName"]%></td>
	</tr>

	<tr>
		<td>Lat, Long</td>
		<td><%=@info["lat"]%> , <%=@info["lng"]%></td>
	</tr>

</table>
<% if @my_hash["geonames"] != [] %>
<h3>Places in <%=@placename%></h3>

<%= erb :'_table', :layout => false %>
<%end%>
