<table class="table table-striped">

	<tr>
		<!-- <th>map</th> -->
		<th>Name</th>
		<th>Type</th>
		<th>Country Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Population</th>
		<th>Type Code</th>
	</tr>
	<% @my_hash["geonames"].each do |x| %>
	<tr>

		<td>
			<span class="search-list">
				<a href="/find/<%= x["name"]%>">
					<%= x["name"] %>
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["fclName"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/find/<%= x["countryName"]%>">
					<%= x["countryName"] %>
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["lat"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["lng"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["population"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/check_nearby/<%= x["lat"] %>/<%= x["lng"] %>/<%= x["fcode"] %>">
					<%= x["fcode"] %>
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/neighbours/<%= x["geonameId"] %>">
					Check Neighbours
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/children/<%= x["geonameId"] %>">
					Check Children
				</a>
			</span>
		</td>


	</tr>
	<% end %>
</table>