<table class="table table-hover">

	<tr>
		<!-- <th>map</th> -->
		<th>Name</th>
		<th>Type</th>
		<th>Country Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Population</th>
		<th>Type Code</th>
		<th>Places Around</th>
		<th>Places In</th>
	</tr>
	<% @my_hash["geonames"].each do |x| %>
	<tr>

		<td>
			<span class="search-list">
			

				<form action="/info/<%= x["name"] %>" method="POST">
					<div style="display:none">
						<input type="hidden" name="lng" value="<%= x["lng"] %>">
						<input type="hidden" name="lat" value="<%= x["lat"] %>">
						<input type="hidden" name="geonameId" value="<%= x["geonameId"] %>">
						<input type="hidden" name="population" value="<%= x["population"] %>">
						<input type="hidden" name="countryName" value="<%= x["countryName"] %>">
					</div>
					<button type="submit"><%= x["name"]%></button>
				</form>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["fclName"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/find/<%= x["countryName"]%>">
					<%= x["countryName"] %>
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["lat"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["lng"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
					<%= x["population"] %>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/check_nearby/<%= x["lat"] %>/<%= x["lng"] %>/<%= x["fcode"] %>" action="post">
					<%= x["fcode"] %>
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/neighbours/<%= x["geonameId"] %>">
					<!-- <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> -->
					<img src="n.png">
				</a>
			</span>
		</td>

		<td>
			<span class="search-list">
				<a href="/children/<%= x["geonameId"] %>">
					<img src="c.png">
				</a>
			</span>
		</td>


	</tr>
	<% end %>
</table>